* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    font-family: 'Dongle';
    ;
}

.grid-container {
    background-image: url('../images/bacImage.jpg');
    max-width: 100%;
    width: 100%;
    height: 100vh;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    position: relative;
}

.grid-item {
    position: absolute;
    top: 50%;
    left: 50%;
    margin: 0px auto;
    width: 50%;
    height: 59%;
    border-radius: 40px;
    background-color: rgba(150, 67, 48, 0.183);
    transform: translate(-50%, -50%)
}

.grid-item h1 {
    color: #4e4343;
    font-weight: 600px;
    font-size: 3em;
    margin-bottom: 10px;
    margin-left: 50%;
    margin-top: 35px;
    display: inline-block;
    letter-spacing: 1px;
    transform: translate(-50%, -50%)
}

a {
    font-size: smaller;
    color: #da6a4e;
    text-decoration: none;
}

input {
    position: relative;
    top:-15px;
    font-size: 16px;
    height: 50px;
    width: 400px;
    border: none;
    border: 1px solid #fea690ad;
    border-top: none;
    display: block;
    border-radius: 20px;
    caret-color: #fea690;
    margin: 0px 50%;
    margin-top: 5px;
    transform: translate(-50%, -50%)
}

input:placeholder-shown {
    padding-left: 10px;
    font-size: 20px;
    
}



.loginBtn {
    position: relative;
    top: -10px;
    border-radius: 20px;
    width: 250px;
    height: 50px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 5px;
    font-weight: bold;
    border-style: none;
    color: #eeded9;
    font-size: 20px;
    background-color: #4e434376;
    margin: 0px 50%;
    transform: translate(-50%, -50%)
}

.loginBtn:hover {
    border-radius: 20px;
    width: 250px;
    height: 50px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
    font-weight: bold;
    border-style: none;
    color: #4e4343;
    font-size: 20px;
    background-color: #da6a4e69;
    margin: 0px 50%;
    transform: translate(-50%, -50%)
}

p {
    margin-left: 33%;
    font-size: small;
    text-align: left;
}

.input-control input:focus {
    outline: 0;
}

.input-control.success input {
    border-color: #09c372;
    border-width: 2px;
}

.input-control.error input {
    border-color: #f51a46;

}

.input-control .error {
    color: #f51a46;
    font-size: 14px;
    height: 13px;
    position: relative;
    left: 85px;
    top:-40px

}

.signupLink {
    position: relative;
    top: -33px;
    font-size: 1em;
    font-weight: bold;
}