* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    font-family: 'Dongle';

}

.add-btn a {
    position: relative;
    top: 0px;
    left: 25px;
    text-decoration: none;
    color: #fff;
    font-weight: bold;
    font-size: 50px;
}

.add-btn {
    position: relative;
    top: 350px;
    left: 900px;
    width: 70px;
    height: 70px;
    border-radius: 50%;
    background-color: rgba(125, 52, 36, 0.566);
}
body {
    background-color: #eeded9a8;
}
.inputSearch {
   
    margin-bottom: 3%;
    width: 500px;
    height: 25px;
    font-size: 20px;
    border-radius: 15px;
    border-width: 0.5px;
}
.inputSearch:hover {
    width: 500px;
    height: 25px;
    font-size: 20px;
    border-radius: 15px;
    border-width: 0.5px;
    border-color: #0079D3;
}
.inputSearch:placeholder-shown {
    padding-left: 10px;
    font-size: 20px;   
}
.navbar {
    margin-top: 20px;
    margin-left: 25%;
} 
.post {
    position: relative;
    top:3%;
    left: 20%;
    width: 60%;
    border: 1px solid #ccc;
    border-radius: 8px;
    padding: 20px;
    margin-bottom: 20px;
    background-color: #fff;
  }
  
  .post-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
  }
  
  .user-info {
    display: flex;
    align-items: center;
  }
  
  .user-info img {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    margin-right: 10px;
  }
  
  .user-details h2 {
    font-size: 18px;
    margin: 0;
  }
  
  .user-details p {
    font-size: 14px;
    margin: 0;
  }
  
  .post-actions button {
    background-color: #fff;
    border: none;
    margin-left: 10px;
    cursor: pointer;
  }
  
  .post-content img {
    max-width: 50%;
    position: relative;
    margin-left: 25%;
    margin-top: 20px;
    margin-bottom: 10px;
    border-radius: 4%;
  }
  
  